{% load static %}
<style>
  th[data-order]:after{
    content: 'o';
  }
  #LOADING{
    transition: opacity 100ms ease-out;
  }
  .MITHRIL-preload{
    opacity: 0;
  }
</style>

<div id="LOADING" class="MITHRIL-loading">
<div id="MITHRIL-FILTERS" class="{% block filter_class %}{% endblock %}">
  {% block filters_header %}
  <div><strong>Filters</strong></div>
  {% endblock %}
  <div id="MITHRIL-FILTERS-filters">
    {% block filters %}
    {% endblock %}
  </div>
</div>

<table class="{% block table_class %}{% endblock %}">
  <thead id="MITHRIL-THEAD" class="{% block thead_class %}{% endblock %}">
    <tr>
      {% block table_head %}
      {% endblock %}
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      {% block table_body %}
      {% endblock %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav id="MITHRIL-PAGINATION">
</nav>
</div>

<script src="{% static 'remede/remede.js' %}"></script>
<script>
  // Constants ----------------------------------
  window.CLASSES = {{classes|safe}}
  window.PAGINATION = {
    paginate_by: {{paginator.per_page}},
    paginate_options: {{paginate_options|safe}},
    orderby_param: 'order_by',
    page_param: 'page',
    current_page: {{page_obj.number}},
    next_page: {% if page_obj.has_next %}{{page_obj.next_page_number}}{% else %}null{% endif %},
    prev_page: {% if page_obj.has_previous %}{{page_obj.previous_page_number}}{% else %}null{% endif %},
    first_page: 1,
    last_page: {{page_obj.paginator.num_pages}}
  }
  //var orderby_param = 'order_by'
  //var page_param = 'page'

  //var paginate_by = {{paginator.per_page}}
  //var paginate_options = {{paginate_options|safe}}

  //var pagination = {
</script>
{% block pre_script %}{% endblock %}
<script src="{% static 'remede/ListView.js' %}"
<script>
  // TESTING ------------------------------------
  if (false){
    // Simple equality tests
    var eq_tests = [
      {
        name: 'negateString',
        val: [negateString('test'), negateString('-test')],
        expect: ['-test', 'test']
      },

      {
        name: 'getNIndex',
        val: [
          getNIndex('pos', ['pos']),
          getNIndex('neg', ['-neg']),
          getNIndex('none', ['a', 'b']),
        ],
        expect: [0, 0, -1]
      },

      {
        name: 'appendOrNegate',
        val: [
          appendOrNegate('new')(['old']),
          appendOrNegate('negated')(['old', 'negated']),
          appendOrNegate('unnegated')(['old', '-unnegated'])
        ],
        expect: [
          ['old', 'new'],
          ['old', '-negated'],
          ['old', 'unnegated'],
        ]
      },

      {
        name: 'setOrNegate',
        val: [
          setOrNegate('new')(['old']),
          setOrNegate('negated')(['old', 'negated']),
          setOrNegate('unegated')(['old', '-unegated']),
        ],
        expect: [
          ['new'],
          ['-negated'],
          ['unegated'],
        ]
      },

      {
        name: 'wrapArray',
        val: [
          wrapArray('wrapped'),
          wrapArray(['not', 'wrapped']),
        ],
        expect: [
          ['wrapped'],
          ['not', 'wrapped']
        ],
      },

      {
        name: 'getOrderIcon',
        val: [
          getOrderIcon('asc', ['-asc']),
          getOrderIcon('desc', ['desc']),
          getOrderIcon('order', []),
        ],
        expect: [m.trust(asc_icon), m.trust(desc_icon), m.trust(order_icon)]
      },

      // parseHeader
      // parseFilter

      {
        name: 'reduceFilters',
        val: reduceFilters([
          {value: 0},
          {filter: 'something'},
          {filter: 'filter', value: 'value'},
        ]),
        expect: {
          filter: 'value'
        }
      },

      {
        name: 'paramNotBlank',
        val: [
          paramNotBlank('', 'key'),
          paramNotBlank([], 'key'),
          paramNotBlank('val', 'key'),
          paramNotBlank(['list'], 'key'),
          paramNotBlank(0, 'key'),
        ],
        expect: [
          false,
          false,
          true,
          true,
          true
        ]
      },
    ]

    for (test of eq_tests){
      console.assert(R.equals(test.val, test.expect),
      {name: test.name, expected: test.expect, got: test.val}
      )
    }

    console.log('Testing Done')
  }

  // Mounts -------------------------------------
</script>

{% block post_script %}{% endblock %}
